* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 900px;
    margin: 100px auto;
}

body {
    background-color: #E5E5E5;
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: 600;
}