.touch {
    padding: 120px 0 242px;
    background-image: url("../images/end-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #171819;
    color: #FFFFFF;
    height: 90vh;
}
.touch__title {
    max-width: 350px;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: center;
    margin: 0 auto;
}
.touch__button{
    display: block;
    padding: 9px 29px;
    background-color: #00A4E5;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #FFFFFF;
    margin: 35px auto 76px;
    border: 0;
}
